In [118]:
import pandas as pd
import numpy as np
import math as m
import seaborn as sns
import matplotlib.pyplot as plt
import re
from scipy import stats
import seaborn as sns
import statistics

In [68]:
Loans=pd.read_csv(r'LoansData.csv',delimiter=',')
LoansData=Loans.copy()
LoansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [69]:
LoansData.shape

(2500, 14)

In [70]:
LoansData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

# data preparation

### 1)change column name

In [71]:
LoansData.columns = LoansData.columns.str.replace(".", "_")
LoansData.columns

<ipython-input-71-f7a32c01a386>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  LoansData.columns = LoansData.columns.str.replace(".", "_")

Index(['Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length'],
      dtype='object')

In [ ]:
#univirate
LoansData.Interest_Rate.v

### 2)Missing Value

In [6]:
#checking in dataframe ,how many column have missing value
pd.isna(LoansData).sum()

Amount_Requested                   1
Amount_Funded_By_Investors         1
Interest_Rate                      2
Loan_Length                        0
Loan_Purpose                       0
Debt_To_Income_Ratio               1
State                              0
Home_Ownership                     1
Monthly_Income                     1
FICO_Range                         2
Open_CREDIT_Lines                  3
Revolving_CREDIT_Balance           3
Inquiries_in_the_Last_6_Months     3
Employment_Length                 77
dtype: int64

In [7]:
#droping null/NAN value 
LoansData=LoansData.dropna()

In [8]:
#see how many column rows have more than 3 null value
#problem_1.iloc[problem_1[(problem_1.isnull().sum(axis=1) >=3)].index]
#pro=problem_1.iloc[problem_1[(problem_1.notna().sum(axis=1) >=12)].index]
#pd.isna(pro).sum()

#missing_value_treatment:

LoansData['Amount_Requested']=LoansData.Amount_Requested.fillna(value=LoansData.Amount_Requested.mean())
LoansData['Amount_Funded_By_Investors']=LoansData.Amount_Funded_By_Investors.fillna(value=LoansData.Amount_Funded_By_Investors.mean())

LoansData['Interest_Rate']=LoansData.Interest_Rate.str.strip('%').astype('float')
LoansData['Interest_Rate']=LoansData.Interest_Rate.fillna(value=LoansData.Interest_Rate.mean())

LoansData['Debt_To_Income_Ratio']=LoansData.Debt_To_Income_Ratio.str.strip('%').astype('float')
LoansData['Debt_To_Income_Ratio']=LoansData.Debt_To_Income_Ratio.fillna(value=LoansData.Debt_To_Income_Ratio.mean())

LoansData['Home_Ownership']=LoansData.Home_Ownership.fillna(value=LoansData.Home_Ownership.mode()[0])

LoansData['Monthly_Income']=LoansData.Monthly_Income.fillna(value=LoansData.Monthly_Income.mean())

LoansData['FICO_Range']=LoansData.FICO_Range.fillna(LoansData.FICO_Range.mode()[0])
#LoansData=LoansData[LoansData['FICO_Range'].notna()]


LoansData['Open_CREDIT_Lines']=LoansData.Open_CREDIT_Lines.fillna(LoansData.Open_CREDIT_Lines.mode()[0])

LoansData['Revolving_CREDIT_Balance']=LoansData.Revolving_CREDIT_Balance.fillna(int(LoansData.Revolving_CREDIT_Balance.mean()))

LoansData['Inquiries_in_the_Last_6_Months']=LoansData.Inquiries_in_the_Last_6_Months.fillna(int(LoansData.Inquiries_in_the_Last_6_Months.mode()[0]))

LoansData['Employment_Length']=LoansData['Employment_Length'].dropna()

In [9]:
pd.isna(LoansData).sum()

Amount_Requested                  0
Amount_Funded_By_Investors        0
Interest_Rate                     0
Loan_Length                       0
Loan_Purpose                      0
Debt_To_Income_Ratio              0
State                             0
Home_Ownership                    0
Monthly_Income                    0
FICO_Range                        0
Open_CREDIT_Lines                 0
Revolving_CREDIT_Balance          0
Inquiries_in_the_Last_6_Months    0
Employment_Length                 0
dtype: int64

### 3)Removing words/symbol

In [10]:
#removing the word ” years" and other symbol  from Employment_Length.
LoansData['Employment_Length'] = LoansData['Employment_Length'].str.replace(r'\D+', '', regex=True)

In [11]:
#removing the word ” months"  from loan Interest_Rate.
LoansData['Loan_Length']=LoansData['Loan_Length'].str.replace('months','')

In [12]:
#removing "%" symbol from Interest_Rate,Debt_To_Income_Ratio
LoansData['Interest_Rate']=LoansData['Interest_Rate'].str.replace('%','')
LoansData['Debt_To_Income_Ratio']=LoansData['Debt_To_Income_Ratio'].str.replace('%','')

### 4) change data type
    i)Interest.Rate 
    ii)Loan.Length
    iii)Debt.To.Income.Ratio
    iv)FICO.Range
    v)Inquiries.in.the.Last.6.Months
    vii)Employment.Length

In [13]:
#i)
LoansData['Interest_Rate']=LoansData.Interest_Rate.astype('float64') # change data type object to float64
#ii)
LoansData['Loan_Length']=LoansData.Loan_Length.astype('int64')# change data type object to int64
#iii)
LoansData['Debt_To_Income_Ratio']=LoansData.Debt_To_Income_Ratio.astype('float64') # change data type object to float64
#iv)
LoansData['FICO_Range']=LoansData.FICO_Range.astype('string')
LoansData['FICO_Range']=LoansData.FICO_Range.str.split('-')
#v)
LoansData['Inquiries_in_the_Last_6_Months']=LoansData.Inquiries_in_the_Last_6_Months.astype('int64')
#vi)
LoansData['Employment_Length'] = LoansData.Employment_Length.astype('int64')
#vii)
LoansData['Open_CREDIT_Lines']=LoansData.Open_CREDIT_Lines.astype('int64')

In [14]:
#now data is in well form no missing and mismatch data type

In [15]:
LoansData.head(5)

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.0,8.90,36,debt_consolidation,14.90,SC,MORTGAGE,6541.67,"[735, 739]",14,14272.0,2,1
1,19200.0,19200.0,12.12,36,debt_consolidation,28.36,TX,MORTGAGE,4583.33,"[715, 719]",12,11140.0,1,2
2,35000.0,35000.0,21.98,60,debt_consolidation,23.81,CA,MORTGAGE,11500.00,"[690, 694]",14,21977.0,1,2
3,10000.0,9975.0,9.99,36,debt_consolidation,14.30,KS,MORTGAGE,3833.33,"[695, 699]",10,9346.0,0,5
4,12000.0,12000.0,11.71,36,credit_card,18.78,NJ,RENT,3195.00,"[695, 699]",11,14469.0,0,9

#describe data

In [16]:
LoansData.describe()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Debt_To_Income_Ratio,Monthly_Income,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
count,2413.000000,2413.000000,2413.000000,2413.000000,2413.000000,2413.000000,2413.000000,2413.000000,2413.000000,2413.000000
mean,12491.556154,12074.038388,13.075591,41.341069,15.390124,5735.767460,10.106092,15300.304600,0.905097,5.490676
std,7783.902098,7727.846537,4.158537,9.984987,7.484998,3993.949136,4.507909,18327.413575,1.236078,3.440626
min,1000.000000,-0.010000,5.420000,36.000000,0.000000,588.500000,2.000000,0.000000,0.000000,1.000000
25%,6000.000000,6000.000000,10.160000,36.000000,9.760000,3500.000000,7.000000,5613.000000,0.000000,2.000000
50%,10000.000000,10000.000000,13.110000,36.000000,15.330000,5000.000000,9.000000,11016.000000,0.000000,5.000000
75%,17000.000000,16175.000000,15.800000,36.000000,20.680000,6833.330000,13.000000,19036.000000,1.000000,10.000000
max,35000.000000,35000.000000,24.890000,60.000000,34.910000,102750.000000,38.000000,270800.000000,9.000000,10.000000

In [17]:
#DROP ROWS WHERE Amount_Funded_By_Investors IS LESS THAN 0
#LoansData[(LoansData['Amount_Funded_By_Investors'] < 0)]
LoansData=LoansData.drop(LoansData[(LoansData['Amount_Funded_By_Investors'] < 0)].index)

### OUTLIER

In [128]:
#1.zscore
#stats.zscore(LoansData['Amount_Funded_By_Investors']>0)

In [129]:
#2.percentile
#max_threshold=LoansData['Amount_Funded_By_Investors'].quantile(0.98)
#LoansData[LoansData['Amount_Funded_By_Investors']>max_]
#max_threshold=LoansData['Amount_Funded_By_Investors'].quantile(0.95)
#min_threshold=LoansData['Amount_Funded_By_Investors'].quantile(0.05)
#print('for Amount_Funded_By_Investors',min_threshold ,"min_threshold",max_threshold,"max_threshold")


#max_threshold=problem_1['Interest_Rate'].quantile(0.75)
#LoansData[LoansData['Interest_Rate']>max_threshold]

#min_threshold=LoansData['Interest_Rate'].quantile(0.25)
#print('for Interest_Rate',min_threshold ,"min_threshold",max_threshold,"max_threshold")

In [130]:
#IQR=max_threshold-min_threshold
#IQR

In [131]:
#upper = LoansData['Amount_Funded_By_Investors'] >= (max_threshold+1.5*IQR)
#lower=LoansData['Amount_Funded_By_Investors'] >= (min_threshold+1.5*IQR)
#upper = LoansData['Interest_Rate'] >= (max_threshold+1.5*IQR)
#lower=LoansData['Interest_Rate'] >= (min_threshold+1.5*IQR)

In [132]:
#3.Box_plot

In [133]:
#sns.boxplot(LoansData['Amount_Funded_By_Investors'])

In [134]:
#sns.boxplot(LoansData['Interest_Rate'])

In [135]:
# Position of the Outlier
#print(np.where(LoansData['Amount_Funded_By_Investors']>34999.000000))

#4)ScatterPlot
fig, ax = plt.subplots(figsize = (18,10))
ax.scatter(LoansData['Amount_Funded_By_Investors'], LoansData['Interest_Rate'])
 
# x-axis label
ax.set_xlabel('Amount_Funded_By_Investors')
 
# y-axis label
ax.set_ylabel('Interest_Rate')
plt.show()

In [136]:
LoansData.describe()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Debt_To_Income_Ratio,Monthly_Income,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
count,2411.000000,2411.000000,2411.000000,2411.000000,2411.000000,2411.000000,2411.000000,2411.000000,2411.000000,2411.000000
mean,12497.895064,12084.054189,13.075587,41.345500,15.389747,5735.513708,10.104521,15299.494815,0.902530,5.491912
std,7783.642211,7723.217603,4.160200,9.987943,7.486419,3994.834496,4.509081,18334.501482,1.230338,3.441665
min,1000.000000,0.000000,5.420000,36.000000,0.000000,588.500000,2.000000,0.000000,0.000000,1.000000
25%,6037.500000,6000.000000,10.160000,36.000000,9.755000,3500.000000,7.000000,5613.000000,0.000000,2.000000
50%,10000.000000,10000.000000,13.110000,36.000000,15.330000,5000.000000,9.000000,11011.000000,0.000000,5.000000
75%,17000.000000,16187.500000,15.800000,36.000000,20.675000,6833.330000,13.000000,19028.000000,1.000000,10.000000
max,35000.000000,35000.000000,24.890000,60.000000,34.910000,102750.000000,38.000000,270800.000000,9.000000,10.000000

In [137]:
LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2411 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount_Requested                2411 non-null   float64
 1   Amount_Funded_By_Investors      2411 non-null   float64
 2   Interest_Rate                   2411 non-null   float64
 3   Loan_Length                     2411 non-null   int64
 4   Loan_Purpose                    2411 non-null   object
 5   Debt_To_Income_Ratio            2411 non-null   float64
 6   State                           2411 non-null   object
 7   Home_Ownership                  2411 non-null   object
 8   Monthly_Income                  2411 non-null   float64
 9   FICO_Range                      2411 non-null   object
 10  Open_CREDIT_Lines               2411 non-null   int64
 11  Revolving_CREDIT_Balance        2411 non-null   float64
 12  Inquiries_in_the_Last_6_Months  2411 non-null   int64
 13  Employment_Length               2411 non-null   int64
dtypes: float64(6), int64(4), object(4)
memory usage: 282.5+ KB

In [139]:
Loans.corr( )

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
Amount.Requested,1.000000,0.969843,0.389527,0.195694,0.295064,-0.029725
Amount.Funded.By.Investors,0.969843,1.000000,0.372339,0.185346,0.263499,-0.067895
Monthly.Income,0.389527,0.372339,1.000000,0.171558,0.359896,0.033826
Open.CREDIT.Lines,0.195694,0.185346,0.171558,1.000000,0.289559,0.109748
Revolving.CREDIT.Balance,0.295064,0.263499,0.359896,0.289559,1.000000,0.011036
Inquiries.in.the.Last.6.Months,-0.029725,-0.067895,0.033826,0.109748,0.011036,1.000000

In [ ]:
#Z-score based technique
Z_score=LoansData
Amount_Funded_By_Investors_upper_limit =Z_score['Amount_Funded_By_Investors'].mean() + 3*Z_score['Amount_Funded_By_Investors'].std()
Amount_Funded_By_Investors_lower_limit=Z_score['Amount_Funded_By_Investors'].mean() - 3*Z_score['Amount_Funded_By_Investors'].std()
Z_score['Amount_Funded_By_Investors']=np.where(
    Z_score['Amount_Funded_By_Investors']>Amount_Funded_By_Investors_upper_limit,
    Amount_Funded_By_Investors_upper_limit,
    np.where(
        Z_score['Amount_Funded_By_Investors']<Amount_Funded_By_Investors_lower_limit,
        Amount_Funded_By_Investors_lower_limit,
        Z_score['Amount_Funded_By_Investors']
    )
)

Interest_Rate_upper_limit=Z_score['Interest_Rate'].mean() + 3*Z_score['Interest_Rate'].std()
Interest_Rate_lower_limit=Z_score['Interest_Rate'].mean() - 3*Z_score['Interest_Rate'].std()

L['Interest_Rate']=np.where(
    Z_score['Interest_Rate']>Interest_Rate_upper_limit,
    Interest_Rate_upper_limit,
    np.where(
        Z_score['Interest_Rate']<Interest_Rate_lower_limit,
        Interest_Rate_lower_limit,
        LoansData['Interest_Rate']
    )
)

plt.subplot(1,2,1)
sns.boxplot(Z_score['Amount_Funded_By_Investors'])
plt.subplot(1,2,2)
sns.boxplot(Z_score['Interest_Rate'])

In [ ]:
#LoansData[(LoansData['Amount_Funded_By_Investors'] < 35257.57) | (LoansData['Amount_Funded_By_Investors'] > -11109.50)]
#LoansData[(LoansData['Interest_Rate'] < 25.55) | (LoansData['Interest_Rate'] > 0.59)]

In [ ]:
#IQR-percentile technique
IQR_percentile=LoansData
Amount_Funded_By_Investors_percentile26 =IQR_percentile['Amount_Funded_By_Investors'].quantile(0.26)
Amount_Funded_By_Investors_percentile74 =IQR_percentile['Amount_Funded_By_Investors'].quantile(0.74)
iqr1 = (Amount_Funded_By_Investors_percentile74) - (Amount_Funded_By_Investors_percentile26)
Amount_Funded_By_Investors_percentile_upper_limit = Amount_Funded_By_Investors_percentile74 + 1.5 * iqr1
Amount_Funded_By_Investors_percentile_lower_limit = Amount_Funded_By_Investors_percentile26 - 1.5 * iqr1
IQR_percentile['Amount_Funded_By_Investors'] = IQR_percentile[IQR_percentile['Amount_Funded_By_Investors'] < Amount_Funded_By_Investors_percentile_upper_limit]
plt.subplot(1,2,1)
sns.boxplot(IQR_percentile['Amount_Funded_By_Investors'])

Interest_Rate_percentile25 =IQR_percentile['Interest_Rate'].quantile(0.01)
Interest_Rate_percentile75 =IQR_percentile['Interest_Rate'].quantile(0.99)
iqr2 = (Interest_Rate_percentile75) - (Interest_Rate_percentile25)
Interest_Rate_percentile_upper_limit = Interest_Rate_percentile75 + 1.5 * iqr2
Interest_Rate_percentile_lower_limit = Interest_Rate_percentile25 - 1.5 * iqr2
IQR_percentile['Interest_Rate'] = IQR_percentile[new_df['Interest_Rate'] < Interest_Rate_percentile_upper_limit]
plt.subplot(1,2,2)
sns.boxplot(IQR_percentile['Interest_Rate'])

In [ ]:
scipy.stats.skewtest(LoansData['Interest_Rate'])

In [ ]:
scipy.stats.skewtest(LoansData['Amount_Funded_By_Investors'])

As a general rule of thumb: If skewness is less than -1 or greater than 1, the distribution is highly skewed.

In [ ]:
scipy.stats.skew(LoansData['Amount_Funded_By_Investors'])

In [ ]:
scipy.stats.skew(LoansData['Interest_Rate'])

In [ ]:
np.log(LoansData['Interest_Rate'])

In [ ]:
new_df=np.log(LoansData[['Amount_Funded_By_Investors','Interest_Rate']])

In [ ]:
new_df1=np.log(LoansData[['Amount_Funded_By_Investors','Interest_Rate']])
plt.subplot(1,3,1)
plt.hist(new_df1['Interest_Rate'])

new_df2=np.sqrt(LoansData[['Amount_Funded_By_Investors','Interest_Rate']])
plt.subplot(1,3,2)
plt.hist(new_df2['Interest_Rate'])

plt.subplot(1,3,3)
plt.hist(LoansData['Interest_Rate'])

In [ ]:

new_df1=np.log(LoansData[['Amount_Funded_By_Investors','Interest_Rate']])
plt.subplot(1,3,1)
plt.hist(new_df1['Interest_Rate'])

new_df2=np.sqrt(LoansData[['Amount_Funded_By_Investors','Interest_Rate']])
plt.subplot(1,3,2)
plt.hist(new_df2['Amount_Funded_By_Investors'])

plt.subplot(1,3,3)
plt.hist(LoansData['Amount_Funded_By_Investors'])

In [ ]:
t,Pvalue_Prior=scipy.stats.ttest_ind(Treatment_Facility.Employee_Turnover[Treatment_Facility.Reengineer.eq('Prior')], Treatment_Facility.Employee_Turnover, 
                      equal_var=False)
t,Pvalue_Post=scipy.stats.ttest_ind(Treatment_Facility.Employee_Turnover[Treatment_Facility.Reengineer.eq('Post')], Treatment_Facility.Employee_Turnover, 
                      equal_var=False)
print('Prior Pvalue:',Pvalue_Prior,'Post Pvalue:',Pvalue_Post)

In [ ]:
#Ho:There is no effect of reengineering effort on  Employee_Turnover
#Ha:There is  effect of reengineering effort on  Employee_Turnover


t,Pvalue = scipy.stats.ttest_ind(Treatment_Facility.Employee_Turnover[Treatment_Facility.Reengineer.eq('Prior')], Treatment_Facility.Employee_Turnover[Treatment_Facility.Reengineer.eq('Post')],
                   equal_var=False)

def p_value(p):
    if p<0.05:
        print("P-value(",p,")  is less then 0.05 so we can reject Ho(null) hypothesis and accept Ha(alternative) hypothesis " )
    else:
        print("P-value(",p,") is greater then 0.05 so we can not reject Ho(null) hypothesis" )
p_value(Pvalue)

In [ ]:
#Ho:There is no effect of reengineering effort on  TRFF(temporarily removed from the facility),
#Ha:There is  effect of reengineering effort on  TRFF(temporarily removed from the facility)


t,Pvalue = scipy.stats.ttest_ind(Treatment_Facility.TRFF[Treatment_Facility.Reengineer.eq('Prior')], Treatment_Facility.TRFF[Treatment_Facility.Reengineer.eq('Post')],
                   equal_var=False)

def p_value(p):
    if p<0.05:
        print("P-value(",p,")  is less then 0.05 so we can reject Ho(null) hypothesis and accept Ha(alternative) hypothesis " )
    else:
        print("P-value(",p,") is greater then 0.05 so we can not reject Ho(null) hypothesis" )
p_value(Pvalue)

In [ ]:
#Ho:There is no effect of reengineering effort on  critical incidence rate
#Ha:There is  effect of reengineering effort on  critical incidence rate


t,Pvalue = scipy.stats.ttest_ind(Treatment_Facility.CI[Treatment_Facility.Reengineer.eq('Prior')], Treatment_Facility.CI[Treatment_Facility.Reengineer.eq('Post')],
                   equal_var=False)

def p_value(p):
    if p<0.05:
        print("P-value(",p,")  is less then 0.05 so we can reject Ho(null) hypothesis and accept Ha(alternative) hypothesis " )
    else:
        print("P-value(",p,") is greater then 0.05 so we can not reject Ho(null) hypothesis" )
p_value(Pvalue)